



.body {
    background-color: #9acfea;
}

.nav{
    margin: 20px;


}

.testi {
    background-color: red;
}

.main-carousel h2{
    margin: 0;
    color: #000000;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}

.main-carousel{
    margin: 20px;
}

.main-carousel .item{
    background: #708090;
    text-align: center;
    height: 400px !important;
    weight: auto;
}

.main-carousel .carousel{
    margin-top: 20px;
}

